<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" strict="true" name="XMLConfigTest" packages="org.apache.logging.log4j.test">
  <Properties>
    <Property name="root">logs</Property>
    <Property name="controller">controller</Property>
    <Property name="config">config</Property>
    <Property name="model">model</Property>
    <Property name="repository">repository</Property>
    <Property name="service">service</Property>
  </Properties>

  <Appenders>
    <RollingFile name="rootlog" fileName="${root}/rootlog.html" filePattern="${root}/rootlog-%d{MM-dd-yyyy}-%i.html">
      <Layout type="HTMLLayout"/>
      <Policies>
        <TimeBasedTriggeringPolicy />
        <SizeBasedTriggeringPolicy size="5 MB"/>
      </Policies>
      <DefaultRolloverStrategy max="2000"/>
    </RollingFile>

    <RollingFile name="config" fileName="${root}/${config}/config.html" filePattern="${root}/${config}/config-%d{MM-dd-yyyy}-%i.html">
      <Layout type="HTMLLayout"/>
      <Policies>
        <TimeBasedTriggeringPolicy />
        <SizeBasedTriggeringPolicy size="5 MB"/>
      </Policies>
      <DefaultRolloverStrategy max="2000"/>
    </RollingFile>

    <RollingFile name="model" fileName="${root}/${model}/model.html" filePattern="${root}/${model}/model-%d{MM-dd-yyyy}-%i.html">
      <Layout type="HTMLLayout"/>
      <Policies>
        <TimeBasedTriggeringPolicy />
        <SizeBasedTriggeringPolicy size="5 MB"/>
      </Policies>
      <DefaultRolloverStrategy max="2000"/>
    </RollingFile>

    <RollingFile name="repository" fileName="${root}/${repository}/repository.html" filePattern="${root}/${repository}/repository-%d{MM-dd-yyyy}-%i.html">
      <Layout type="HTMLLayout"/>
      <Policies>
        <TimeBasedTriggeringPolicy />
        <SizeBasedTriggeringPolicy size="5 MB"/>
      </Policies>
      <DefaultRolloverStrategy max="2000"/>
    </RollingFile>

    <RollingFile name="service" fileName="${root}/${service}/service.html" filePattern="${root}/${service}/service-%d{MM-dd-yyyy}-%i.html">
      <Layout type="HTMLLayout"/>
      <Policies>
        <TimeBasedTriggeringPolicy />
        <SizeBasedTriggeringPolicy size="5 MB"/>
      </Policies>
      <DefaultRolloverStrategy max="2000"/>
    </RollingFile>

    <RollingFile name="controller" fileName="${root}/${controller}/services.html" filePattern="${root}/${controller}/controller-%d{MM-dd-yyyy}-%i.html">
      <Layout type="HTMLLayout"/>
      <Policies>
        <TimeBasedTriggeringPolicy />
        <SizeBasedTriggeringPolicy size="5 MB"/>
      </Policies>
      <DefaultRolloverStrategy max="2000"/>
    </RollingFile>

  </Appenders>
  <Loggers>
    <Root level="info">
      <AppenderRef ref="rootlog" />
    </Root>

    <Logger name="com.bobbbaich.config" additivity="true" level="debug">
      <AppenderRef ref="config"/>
    </Logger>

    <Logger name="com.bobbbaich.model" additivity="true" level="info">
      <AppenderRef ref="model"/>
    </Logger>

    <Logger name="com.bobbbaich.repository" additivity="true" level="info">
      <AppenderRef ref="repository"/>
    </Logger>

    <Logger name="com.bobbbaich.service" additivity="true" level="info">
      <AppenderRef ref="services"/>
    </Logger>

    <Logger name="com.bobbbaich.controller" additivity="true" level="info">
      <AppenderRef ref="controller"/>
    </Logger>
  </Loggers>
</Configuration>